<?php require APP_ROOT . '/view/_shared/header.twig' ?>

<div ng-controller="BattleController">

    <div class="jumbotron">
        <h1 class="display-4">Orderus</h1>
        <p class="lead">Once upon a time there was a great hero, called Orderus, with some strengths and weaknesses,
            as all heroes have.</p>
        <hr class="my-4">
        <button class="btn btn-primary btn-lg" role="button" ng-click="battleAction()">Battle <span ng-show="battle != null">again</span></button>
    </div>

    <div ng-show="battle != null">
        <div class="card-group">

            <div class="card">
                <img src="/image/hero.png" class="card-img-top" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <span ng-show="battle.winner.name == battle.hero.name" class="badge badge-success float-right">winner</span>
                    <span ng-show="battle.winner.name != battle.hero.name" class="badge badge-danger float-right">loser</span>
                    <h5 class="card-title" ng-bind="battle.hero.name"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Health: </b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.hero.health"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Strength:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.hero.strength"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Defence:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.hero.defence"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Speed:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.hero.speed"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Luck:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.hero.luck"></span>
                    </li>
                </ul>
            </div>

            <div class="card">
                <img src="/image/monster.jpg" class="card-img-top" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <span ng-show="battle.winner.name == battle.monster.name" class="badge badge-success float-right">winner</span>
                    <span ng-show="battle.winner.name != battle.monster.name" class="badge badge-danger float-right">loser</span>
                    <h5 class="card-title" ng-bind="battle.monster.name"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Health: </b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.monster.health"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Strength:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.monster.strength"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Defence:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.monster.defence"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Speed:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.monster.speed"></span>
                    </li>
                    <li class="list-group-item">
                        <b>Luck:</b> <span class="float-right badge badge-pill badge-primary" ng-bind="battle.monster.luck"></span>
                    </li>
                </ul>
            </div>

        </div>

        <h2 class="mt-5">Rounds</h2>

        <div class="card mt-3" ng-repeat="round in battle.rounds" ng-class="{'border-info': round.damage.skills.length > 0}">
            <div class="card-header">
                Round: {{ round.turnNumber }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b> {{ round.attackerName }}</b> has attacked <b>{{ round.defenderName }}</b>
                </li>
                <li class="list-group-item alert-success" ng-show="round.hasDefenderSkippedAttack">
                    <b ng-bind="round.defenderName"></b> got luck.
                </li>
                <li class="list-group-item">
                    <p class="mb-0"><b>Damage: </b> <span> {{ round.damage.value == null ? 0 : round.damage.value }}</span></p>
                    <p ng-show="round.damage.skills.length > 0">
                        <span ng-repeat="skill in round.damage.skills" class="badge badge-pill badge-primary" ng-bind="skill"></span>
                    </p>
                </li>
                <li class="list-group-item">
                    <b>{{ round.hero.name }}</b> health <span ng-class="{'badge badge-pill badge-danger': round.hero.health <= 0 }"> {{ round.hero.health}} </span>
                </li>
                <li class="list-group-item">
                    <b>{{ round.monster.name }}</b> health <span ng-class="{'badge badge-pill badge-danger': round.monster.health <= 0 }"> {{ round.monster.health}} </span>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="error != null" class="alert alert-danger" role="alert">
        <p>{{ error }}</p>
    </div>

</div>


<?php require APP_ROOT . '/view/_shared/footer.twig' ?>